script(type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js")
link(href="/css/datepicker.css" rel="stylesheet")
script(type="text/javascript" src="/js/datepicker.js")
script(type="text/javascript")='$.fn.datepicker'
h1(class="title is-3")=locale.step3_title
p=locale.step3_para1
form(method="post" action="/ilmo/2")
  div
    br
    table
      tr
      td
        .field
        label(class="label")=locale.firstname
          input(class="input" type="text" name="firstname" value=person.firstname required)

      tr
      td
        .field
          label(class="label")=locale.lastname
            input(class="input" type="text" name="lastname" value=person.lastname required)
      tr
      td
        .field
          label(class="label")=locale.dob
            - let date = moment(person.dob).format('DD/MM/YYYY');
            input(data-toggle='datepicker' readonly name="dob" class="input" type="text" id="datepicker" value=date)
            noscript
              input(class="input" type="text" name="day" placeholder="Day" required)
              input(class="input" type="text" name="month" placeholder="Month" required)
              input(class="input" type="text" name="year" placeholder="Year" required)
              style='#datepicker { display: none; } "'
      tr
      td
        .field
          label(class="label")=locale.nationality
            select(name="nationality")
              each val,key in countries
                if (key == 'FI' && person.nationality == null) || key == person.nationality 
                  option(value=key selected)=val
                else
                  option(value=key)=val
      tr
      td
        .field
          label(class="label")=locale.email
            input(class="input" type="email" name="email" value=person.email required)
  br
  input(type="submit" value=locale.next class="button")
  .eula
  p=locale.registration_eula
script.
  $('[data-toggle="datepicker"]').datepicker();              
