h1=shit
p=shit
form(method="post" action="/ilmo/3")
  each pref in preferences
    div(style="background-color: rgba(1,1,1,0.1); margin-bottom: 20px;")
      div(style="box-shadow: 0 0 1px 1px grey; padding: 10px;")
        input(type="radio" id=pref.id name='preference' value=pref)
        label(for=pref.id)
          div
          h2=pref.name
          p=pref.description
          b=(pref.price / 100) + '€'
          br
  input(type="submit" value=locale.next class="button")