h1(class="title is-3")=locale.step4_title
p=locale.step4_para1
b=locale.cabin_reservation_notice
form(method='post', action='/ilmo/5')
  table
    tbody
      tr
      td=locale.firstname
      td=registration.person.firstname
      tr
      td=locale.lastname
      td=registration.person.lastname
      tr
      td=locale.dob
      td=registration.person.dob
      tr
      td=locale.email
      td=registration.person.email
      tr
      td=locale.studorg
      td=studorg.name
      tr
      td=locale.cabin
      td=registration.cabin
      - let pref = '';
      if registration.preferences.preference
        - pref = JSON.parse(registration.preferences.preference);
      tr
      td='Preference'
      td=(pref.name || '')
  br
  input(type="submit" value=locale.next class="button")
  .eula
  p=locale.registration_eula